# ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="047d", ATTR{idProduct}=="2041", RUN+="/home/test/.dotfiles/trackball/trackball_settings.sh"
# ACTION=="add", SUBSYSTEM=="input", ATTR{name}=="Kensington Slimblade Trackball", RUN+="/home/test/.dotfiles/trackball/trackball_settings.sh"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="047d", ATTRS{idProduct}=="2041", RUN+="/home/test/.dotfiles/trackball/trackball_settings.sh"
