[Desktop Entry]
Name=Organizr
GenericName=Dashboard
Icon=/home/sickan/Documents/Icons/Organizr.png
Type=Application
Exec=firefox --new-tab http://org.local.sickan.se
#StartupWMClass=keep
Terminal=false

