#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Desktop
GenericName=Restart KWin
Exec=kwin_x11 --replace
Terminal=false
Icon=/home/sickan/Documents/Icons/kwin_replace.png
Type=Application
