[Desktop Entry]
Categories=Network;GTK;
Comment[en_US]=
Comment=
Exec=anydesk 242407160
GenericName[en_US]=AnyDesk
GenericName=AnyDesk
Icon=/usr/share/pixmaps/anydesk.svg
MimeType=
Name[en_US]=Desktop
Name=Desktop
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=anydesk
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-GNOME-FullName=AnyDesk
X-KDE-SubstituteUID=false
X-KDE-Username=
