/* Codewars, Fira Code */
@-moz-document url-prefix(https://www.codewars.com) {
/* @-moz-document domain("codewars.com") { */
  @font-face {
    font-family: "Fira Code";
    src: url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff2/FiraCode-Regular.woff2")
        format("woff2"),
      url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/woff/FiraCode-Regular.woff")
        format("woff"),
      url("https://raw.githubusercontent.com/tonsky/FiraCode/master/distr/ttf/FiraCode-Regular.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  .CodeMirror pre.CodeMirror-line {
    font-size: 17px;
    line-height: 1.6;
    font-family: "Fira Code" !important;
  }

  .markdown code,
  pre code,
  .result-type--log .result-type__value {
    font-family: "Fira Code" !important;
  }
}