@-moz-document url-prefix(https://discovery.addons.mozilla.org),
url-prefix(chrome://),
url-prefix(about:),
url-prefix(file:),
url(https://www.mozilla.org/credits/),
url-prefix(https://addons.mozilla.org),
url-prefix(http://addons.mozilla.org),
url-prefix(https://raw.githubusercontent.com),
url-prefix(moz-extension),
url-prefix(view-source),
regexp(".*\\.(p|P)(d|D)(f|F).*") {
  :root {
    --magenta-50: #ff1ad9;
    --magenta-60: #ed00b5;
    --magenta-70: #b5007f;
    --magenta-80: #7d004f;
    --magenta-90: #440027;
    --purple-50: #9400ff;
    --purple-60: #8000d7;
    --purple-70: #6200a4;
    --purple-80: #440071;
    --purple-90: #25003e;
    --blue-40: #45a1ff;
    --blue-50: #0a84ff;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --blue-90: #000f40;
    --teal-50: #00feff;
    --teal-60: #00c8d7;
    --teal-70: #008ea4;
    --teal-80: #005a71;
    --teal-90: #002d3e;
    --green-50: #30e60b;
    --green-60: #12bc00;
    --green-70: #058b00;
    --green-80: #006504;
    --green-90: #003706;
    --yellow-50: #ffe900;
    --yellow-60: #d7b600;
    --yellow-70: #a47f00;
    --yellow-80: #715100;
    --yellow-90: #3e2800;
    --red-50: #ff0039;
    --red-60: #d70022;
    --red-70: #a4000f;
    --red-80: #5a0002;
    --red-90: #3e0200;
    --orange-50: #ff9400;
    --orange-60: #d76e00;
    --orange-70: #a44900;
    --orange-80: #712b00;
    --orange-90: #3e1300;
    --grey-10: #f9f9fa;
    --grey-20: #ededf0;
    --grey-30: #d7d7db;
    --grey-40: #b1b1b3;
    --grey-50: #737373;
    --grey-60: #4a4a4f;
    --grey-70: #38383d;
    --grey-80: #2a2a2e;
    --grey-90: #0c0c0d;
    --code-green: #86de74!important;
    --warning-color: #FCE19F;
    --warning-background-color: #44391F;
    --theme-highlight-green: #86DE74;
    --theme-highlight-blue: #75BFFF;
    --theme-highlight-purple: #B98EFF;
    --theme-highlight-red: #FF7DE9;
    --theme-highlight-yellow: #FFF89E;
    --theme-highlight-bluegrey: #5e88b0;
    --theme-highlight-lightorange: #d99b28;
    --theme-highlight-orange: #d96629;
    --theme-highlight-pink: #df80ff;
    --tone-1: var(--grey-10);
    --tone-2: var(--grey-20);
    --tone-3: var(--grey-30);
    --tone-4: var(--grey-40);
    --tone-5: var(--grey-50);
    --tone-6: var(--grey-60);
    --tone-7: var(--grey-70);
    --tone-8: var(--grey-80);
    --tone-9: var(--grey-90);
    --accent-1: var(--blue-40);
    --accent-2: var(--blue-50);
    --accent-3: var(--blue-60);
    --in-content-page-color: var(--tone-4)!important;
    --in-content-page-background: var(--tone-7)!important;
    --in-content-text-color: var(--tone-3)!important;
    --in-content-selected-text: var(--tone-1)!important;
    --in-content-selected-text-background: #5675b9;
    --in-content-box-background: var(--tone-6)!important;
    --in-content-box-background-odd: #f3f6fa;
    --in-content-box-background-hover: var(--tone-6)!important;
    --in-content-box-background-active: var(--tone-6)!important;
    --in-content-box-border-color: var(--tone-5)!important;
    --in-content-item-hover: rgba(0,149,221,0.25);
    --in-content-item-selected: var(--tone-8)!important;
    --in-content-border-highlight: var(--accent-1)!important;
    --in-content-border-focus: var(--accent-1)!important;
    --in-content-border-color: var(--tone-6)!important;
    --in-content-category-outline-focus: 1px dotted #0a84ff;
    --in-content-category-text: var(--tone-4)!important;
    --in-content-category-text-active: #0c0c0d;
    --in-content-category-text-selected: var(--accent-1)!important;
    --in-content-category-text-selected-active: #0060df;
    --in-content-category-background-hover: rgba(12,12,13,0.1);
    --in-content-category-background-active: rgba(12,12,13,0.15);
    --in-content-category-background-selected-hover: rgba(12,12,13,0.15);
    --in-content-category-background-selected-active: rgba(12,12,13,0.2);
    --in-content-tab-color: #424f5a;
    --in-content-link-color: var(--accent-1)!important;
    --in-content-link-color-hover: var(--accent-2)!important;
    --in-content-link-color-active: #003eaa;
    --in-content-link-color-visited: #0a8dff;
    --in-content-primary-button-background: var(--accent-2)!important;
    --in-content-primary-button-background-hover: var(--accent-3)!important;
    --in-content-primary-button-background-active: var(--accent-3)!important;
    --in-content-table-border-dark-color: var(--tone-7)!important;
    --in-content-table-header-background: var(--accent-2)!important;
    --theme-selection-background: var(--accent-2)!important;
    --theme-selection-background-hover: var(--accent-1)!important;
    --in-content-category-header-background: var(--tone-8)!important;
    --selected-icon-fill-color: var(--tone-2)!important;
    --in-content-dark-header-background: var(--tone-9)!important;
    --tab-line-selected-color: var(--accent-2)!important;
    --secure-connection-color: var(--accent-1);
    --tab-background-color: var(--tone-9)!important;
    --tab-color: var(--in-content-selected-text);
    --theme-sidebar-background: #1B1B1D!important;
    --card-outline-color: var(--in-content-box-border-color)!important;
    --cm-background: var(--tone-8)!important;
    --cm-selection: #353b48!important;
    --cm-marker: #555!important;
    --cm-linenumber: #58575c!important;
    --cm-cursor: #fff!important;
    --cm-active-line-background: rgba(185,215,253,.15)!important;
    --cm-matching-bracket: rgba(255,255,255,.25)!important;
    --cm-search-background: rgba(24,29,32,1)!important;
    --cm-red: #de7474!important;

    --dummy-variable-for-updater-scripts: black;

/* From Quantum Nox */
    --home-text: var(--in-content-text-color)!important;

  }
}

/* !
!
! From Quantum Nox
!
*/


/*------ MOZILLA ADDONS PAGE ------*/
@-moz-document url-prefix(https://addons.mozilla.org) {
  html, .App-content, tr.LanguageTools-table-row:nth-child(even), 
  .Card-footer, .Paginate, section.scheme-light, section.scheme-default, .Page-content
  {background: #202020 !important}
  
  .scheme-medium {background-color: #1d3770 !important}
  
  .App-amo, .Header, footer.Footer, footer.show-on-desktop {background: #151517 !important}
  
  footer h4 {color: #ddd !important}
  
  tr.LanguageTools-table-row:nth-child(odd) {background-color: #252525 !important}
  
  #react-autowhatever-1 * {background-color: #303030 !important}
  
  .Hero, .Card-contents, .Home-SubjectShelf .Card-contents,
  .CardList .Card-header, .CardList .Card-contents, a.SearchResult-link, 
  .Card-contents, .Card-header, ul.AddonsCard-list li.SearchResult, ul.AddonsCard-list,
  .ExpandableCard .Card-header, span .Paginate-item.disabled.Paginate-previous, 
  .Card-footer-text, .Card-footer-link, a.ShowMoreCard-expand-link,
  a.Addon-all-reviews-link, .MetadataCard, .Card-contents ul li, .LandingPage-header,
  .highlight, .AutoSearchInput-query, .Search .SearchResults-message, .DevHub-callout-box,
  .SecondaryHero-module {
    background-color: #303030 !important;
    color: #ccc !important}
  
  .SearchResult-wrapper:hover {background-color: transparent !important}
  
  .DevHub-callout-box {border: 8px solid #963 !important}
  
  .AddonMoreInfo .Card-content, .SecondaryHero-message-description {color: #aaa !important}
  
  .SecondaryHero-module-icon {filter: invert(80%)}
  
  .ShowMoreCard-contents::after 
  {background: linear-gradient(rgba(48, 48, 48, 0.3), #303030) !important}
  
  .Notice-warning {background-color: #963 !important}
  
  .HeroSection-content {color: #fff !important}
  
  .Search .AddonsCard-list .SearchResult, .Hero-name-HomeHeroGuides {border-bottom: 1px solid #000 !important}
  
  .PermissionsCard-list .Icon {filter: brightness(700%) !important}
  
  button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button):not(.AddonReviewCard-control), 
  .PermissionCard-learn-more, #CollectionSort-select, .AMInstallButton-loader, select.SearchFilters-select {
    background-color: #404040 !important;
    color: #FFF !important}
  
  button:not(.pswp__button):not(.pswp__ui):not(.AutoSearchInput-submit-button):not(.Icon-arrow):not(.DropdownMenu-button):not(.AddonReviewCard-control):not(.Paginate-item):hover, 
  .PermissionCard-learn-more:hover, #CollectionSort-select:hover {
    background-color: #252525 !important;
    color: #1494FB !important}
  
  button.Button--action {
    background-color: #004db3 !important; color: #fff !important}
  button.Button--action:hover {
    background-color: #002c66 !important}
  
  a.Categories-link {filter: saturate(50%) !important}
  
  button.DropdownMenu-button, ul.LanguageTools-addon-list li {background-color: transparent !important}
  
  .Guides-header .Guides-header-icon {background-color: transparent !important; border: none !important}
  
  ul.DropdownMenu-items, ul.TooltipMenu-list, ul.TooltipMenu-list li.ListItem, 
  .DropdownMenu-items[aria-hidden="false"]::after {
    background-color: #202020 !important}
  
  ul.TooltipMenu-list li.ListItem, ul.LanguageTools-addon-list li, .highlight 
  {border: none !important}
  
  th.LanguageTools-header-cell {background-color: #101010 !important}
  
  .Home-SubjectShelf-link:hover span, 
  .HomeHeroGuides-section:hover .HomeHeroGuides-section-title
  {color: #0d96ff !important}
  
  .Home-SubjectShelf-link:link, .Home-SubjectShelf-link:visited 
  {color: #343a40 !important}
  
  .Notice.Notice-genericWarning {background-color: #444 !important}
  .Notice.Notice-genericWarning .Notice-icon {filter: invert(80%)}
  
  .Notice-warning, .Notice-warningInfo {
    background-color: #b90 !important}
  
  .Notice-warningInfo .Notice-text span, 
  .Notice-warningInfo .Notice-text span a:link {color: #000 !important}
  .Notice-warningInfo .Notice-text span a:hover {color: #fff !important}
  
  a.SearchResult-link h2, span, label *, p, a, h4, h2, blockquote, 
  li, .Guides-section-explore-more, .HomeHeroGuides-header-subtitle,
  #lang_form label
  {color: #ccc !important}
  
  a.SectionLinks-dropdownlink:not(:hover), 
  a.SectionLinks-clientApp-android:not(:hover) {color: #aaa !important}
  
  .Paginate .Paginate-item, li.p-popular {background-color: #303030 !important}
  .Paginate a.Paginate-item:hover {background-color: #151515 !important}
  
  .Paginate .Paginate-item {margin-left: 3px !important; margin-right: 3px !important}
  
  a.SearchResult-link:hover h2, a:not(.Button):hover,
  .SearchResult-wrapper:hover .SearchResult-link {color: #1494FB !important}
  
  h2.Home-SubjectShelf-subheading, .CardList h2.Card-header, 
  h1, .Paginate-page-number, .Badge, a.Button.Categories-link,
  h3, .Guides-section-title, ul.DropdownMenu-items .SectionLinks-subheader, 
  .Card-contents dt, .CardList header.Card-header, .HomeHeroGuides-header-title,
  .Card-contents a.Categories-link
  {color: #FFF !important}
  
  .AddonTitle-author a {text-shadow: 0 0 2px #1494FB !important}
  
  .install strong {color: #FA0 !important}
  
  .AMInstallButton-button--uninstall {background-color: #882626 !important}
  .AMInstallButton-button--uninstall:hover {background-color: #aa3333 !important; color: #fff !important}
  
  input.SearchForm-query, 
  input#search-q, textarea {
    background-color: #202020 !important;
    color: #FFF !important}
  
  .SearchFilters-label {color: #ddd !important}
  
  .Button {color: #fff !important}
  
  /* Checkbox coloring */
  input[type="checkbox"] {
    -moz-appearance: none !important;
    border: 1px solid #666 !important;
    background-color: #444 !important;
    transition: color 0.3s;
    min-width: 12px;
    min-height: 12px;
    margin-bottom: 0 !important}
  
  input[type="checkbox"]:not([disabled]):hover {
    box-shadow: 0 0 4px #0084ff !important;
    border-color: #0084ff !important}
  
  input[type="checkbox"]:checked {
    background: #444 url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 16 16" ><path fill="rgb(200,200,200)" d="M 13.09,2.87 C 13.09,2.87 6.00,11.00 6.00,11.00 6.00,11.00 2.00,9.00 2.00,9.00 4.25,12.81 7.00,14.00 7.00,14.00 9.24,10.42 12.04,7.39 13.09,2.87 Z" /></svg>') no-repeat center center !important}
  
  /* Select boxes coloring */
  select {
    -moz-appearance: none !important;
    background: #444 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
    border: none !important;
    padding: 3px;
    color: #ccc !important}
  
  select:hover {
    background: #222 url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M434.574 488L430.5 492.147 426.428 488 425 489.399 430.5 494.999 436 489.399z' transform='translate(-425 -488)' fill='%23cccccc' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat calc(100% - 5px) 50% !important;
    color: #fff !important}
  
  select .menulist-dropmarker {display: none}
  }
  
  /*------ MOZILLA LOGIN PAGE (The login page inside https://addons.mozilla.org) ------*/
  @-moz-document url-prefix(https://accounts.firefox.com) {
  
  html, body {background-color: #202020 !important}
  
  #stage #main-content.panel {
    background: #303030 !important;
    color: #ccc !important}
  
  .card, .firefox-family-services, .settings-child-view  {
    background: #404040 !important; /* sätt in-content-box-background ? #sickan*/
    color: #ccc !important}
  
  .secondary-button {background-color: #666 !important; color: #ddd !important}
  .secondary-button:hover {background-color: #888 !important; color: #fff !important}
  
  h1, h2 {color: #fff !important}
  
  p, label {color: #ccc !important}
  
  form input::placeholder {color: #aaa !important}
  
  a{color: #0d96ff !important}
  
  a:hover{color: #0080dd !important}
  
  form input:not([type="radio"]), .show-password-label {
    background-color: #444 !important;
    color: #ccc !important}
  }
  



